body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
}

header{
    color: #fff !important;
    background-color: #006b85 !important;
    border: 1px solid transparent;
}

.bg-nav
{
    color: #fff !important;
    background-color: #006b85 !important;
}

.box-radius
{
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 4px 6px 15px -1px rgba(0,0,0,0.48);
}

.footer{
    color: #000 !important;
    background-color: rgb(167, 164, 164);
    display: block; 
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    clear: both;
}

.error
{
    color: red;
    display: block;
}