body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
}

header{
    color: #fff !important;
    background-color: #006b85 !important;
    border: 1px solid transparent;
}

.bg-nav
{
    color: #fff !important;
    background-color: #006b85 !important;
}

.footer{
    color: #000 !important;
    background-color: rgb(167, 164, 164);
    display: block; 
    position: relative; 
    width: 100%; 
    clear: both;
}
